ECommerce-WS/src/main/resources/OrderServiceImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://inventory.appdynamics.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="orderRequest">
    <xs:sequence>
      <xs:element name="itemId" type="xs:long" minOccurs="0"/>
      <xs:element name="quantity" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

